# Byte-compiled / optimized / cache
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
env/
.direnv/

# Tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

# Editor / OS
.vscode/*
!.vscode/settings.json
.idea/
.DS_Store
